<div class="main-header">
  <h1 class="main-heading">Create Rental Record</h1>
</div>

<form [formGroup]="rentalForm" (ngSubmit)="onSubmit()" class="create-rental-form">
  <div class="form-group search-customer-container">
    <label for="customer" class="form-label">Customer <span class="required-asterisk">*</span></label>
    <div class="customer-search">
      <input id="customer" formControlName="customerId" type="text" class="form-control search-customer-input" (input)="searchCustomers($event)" placeholder="Search Customer">
        <ul *ngIf="customers.length > 0" class="suggestions">
          <li *ngFor="let customer of customers" (click)="selectCustomer(customer)">{{ customer.name }}</li>
        </ul>
        <div class="customer-clear-button-container flex">
          <button class="clear-button" *ngIf="changeCustomerDisplay" (click)="changeCustomer()">Change Customer</button>
        </div>
        <p class="no-customer-text" *ngIf="noCustomerDisplay && customers.length === 0 && (searchTerms | async) !== null">No customers found</p>
    </div>
  </div>

  <div class="form-group">
    <label for="driver" class="form-label">Driver <span class="required-asterisk">*</span></label>
    <select id="driver" formControlName="driverId" class="form-control">
      <option value="" disabled selected>Select Driver</option>
      <option *ngFor="let driver of drivers" [value]="driver.id">{{ driver.name }}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="equipment" class="form-label">Equipment <span class="required-asterisk">*</span></label>
    <select id="equipment" formControlName="equipment" class="form-control" (change)="onEquipmentChange($event)">
      <option value="" disabled selected>Select Equipment</option>
      <option *ngFor="let equip of equipment" [value]="equip.id">{{ equip.name }}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="date" class="form-label">Date <span class="required-asterisk">*</span></label>
    <input id="date" formControlName="date" type="date" class="form-control">
  </div>

  <div class="form-group">
    <label for="hoursUsed" class="form-label">Hours Used <span class="required-asterisk">*</span></label>
    <input id="hoursUsed" formControlName="hoursUsed" type="number" class="form-control" (input)="calculateTotalCost()">
  </div>

  <div class="form-group">
    <label for="ratePerHour" class="form-label">Rate Per Hour</label>
    <input id="ratePerHour" formControlName="ratePerHour" type="number" class="form-control" [readonly]="true">
  </div>

  <div class="form-group">
    <label for="totalCost" class="form-label">Total Cost</label>
    <input id="totalCost" formControlName="totalCost" type="number" class="form-control" [readonly]="true">
  </div>

  <div class="form-group">
    <label for="isPaid" class="form-label">Paid</label>
    <select id="isPaid" formControlName="paid" class="form-control">
      <option [value]="true">Paid</option>
      <option [value]="false" [selected]="true">Unpaid</option>
    </select>
  </div>

  <button type="submit" class="submit-button" [disabled]="rentalForm.invalid">Create Rental Record</button>
</form>