<div class="sidebar-container theme-bg">
  <div class="sidebar">
    <div class="sidebar-body">
      <div class="sidebar-content-container">
        <!-- Dashboard -->
        <div class="sidebar-content sidebar-dashboard-container flex">
          <button
            class="sidebar-button sidebar-content-button flex"
            [routerLink]="['./']"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              width="24"
              height="24"
              class=""
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2V6zM14 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V6zM4 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2v-2zM14 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z"
              ></path>
            </svg>
            <h3 class="sidebar-content-heading sidebar-dashboard-heading">
              Dashboard
            </h3>
          </button>
        </div>

        <!-- Rental record -->
        <div class="sidebar-content sidebar-equipment-container">
          <button
            class="sidebar-button sidebar-content-button flex"
            (click)="toggleVehicle()"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              width="24"
              height="24"
              class=""
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M11 4a2 2 0 114 0v1a1 1 0 001 1h3a1 1 0 011 1v3a1 1 0 01-1 1h-1a2 2 0 100 4h1a1 1 0 011 1v3a1 1 0 01-1 1h-3a1 1 0 01-1-1v-1a2 2 0 10-4 0v1a1 1 0 01-1 1H7a1 1 0 01-1-1v-3a1 1 0 00-1-1H4a2 2 0 110-4h1a1 1 0 001-1V7a1 1 0 011-1h3a1 1 0 001-1V4z"
              ></path>
            </svg>
            <h3 class="sidebar-content-heading">Vehicle</h3>
            <svg
              class="sidebar-content-arrow"
              [class]="isVehicleOpen ? '' : 'rotate-90'"
              xmlns="http://www.w3.org/2000/svg"
              width="10"
              height="6"
              viewBox="0 0 10 6"
              to=""
            >
              <path
                class="fill-current"
                d="M8.292893.292893c.390525-.390524 1.023689-.390524 1.414214 0 .390524.390525.390524 1.023689 0 1.414214l-4 4c-.390525.390524-1.023689.390524-1.414214 0l-4-4c-.390524-.390525-.390524-1.023689 0-1.414214.390525-.390524 1.023689-.390524 1.414214 0L5 3.585786 8.292893.292893z"
              ></path>
            </svg>
          </button>
        </div>

        <div class="sidebar-inner-content flex" *ngIf="isVehicleOpen">
          <button
            class="sidebar-button sidebar-inner-content-button"
            [routerLink]="['./add-fuel']"
          >
            <p class="sidebar-inner-content-heading">Add Fuel</p>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
