.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.header-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.search-bar {
  padding: 0.5rem;
  border: 1px solid rgb(var(--colors-gray-300));
  border-radius: 0.25rem;
  width: 250px;
}

.search-bar:focus {
  border: 2px solid rgb(var(--colors-blue-400));
  outline: none;
}

.create-button {
  background-color: rgb(14, 165, 233);
  color: white;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 600;
}

.create-button:hover {
  background-color: rgb(10, 132, 255);
}

.drivers-container {
  background-color: white;
  color: rgb(var(--colors-gray-600));
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.06);
  padding: 2rem;
  width: 100%;
}

.drivers-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1.5rem;
}

.drivers-table th,
.drivers-table td {
  border-bottom: 1px solid rgb(var(--colors-gray-200));
  padding: 0.5rem;
  text-align: left;
}

.drivers-table th {
  background-color: rgb(var(--colors-gray-100));
  font-weight: 600;
}

.no-records {
  text-align: center;
  color: rgb(var(--colors-gray-500));
}

.edit-button,
.delete-button {
  color: white;
  background-color: white;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  margin-right: 0.5rem;
}

.edit-button > img {
  width: 1.3rem;
  height: 1.3rem;
  opacity: 0.9;
}

.delete-button > img {
  width: 1.5rem;
  height: 1.5rem;
  opacity: 0.9;
}

.pagination-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination-controls > button {
  color: rgb(var(--colors-blue-400));
  border: none;
  background-color: white;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 800;
}

.pagination-controls > button:disabled {
  color: rgb(var(--colors-gray-300));
  cursor: not-allowed;
}