<div class="main-header">
    <h1 class="main-heading">Manage Drivers</h1>
  </div>
  
  <div class="header-actions">
    <input
      type="text"
      placeholder="Search by Name..."
      [(ngModel)]="searchTerm"
      (input)="searchDrivers()"
      class="search-bar"
    />
    <button class="create-button" [routerLink]="['../create-driver']">
      Create Driver
    </button>
  </div>
  
  <div class="drivers-container">
    <table class="drivers-table">
      <thead>
        <tr>
          <th>S.No</th>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <app-content-loading></app-content-loading>
        <tr *ngIf="!(loadingService.loading$ | async) && drivers.length === 0">
          <td colspan="4" class="no-records">No records found...</td>
        </tr>
        <tr *ngFor="let driver of drivers; let i = index">
          <td>{{ i + 1 + page.number * page.size }}</td>
          <td>{{ driver.name }}</td>
          <td>{{ driver.email }}</td>
          <td>{{ driver.phoneNumber }}</td>
          <td class="flex">
            <button class="edit-button" (click)="editDriver(driver.id)">
              <img src="edit.png" alt="Edit" />
            </button>
            <button class="delete-button" (click)="deleteDriver(driver.id)">
              <img src="delete.png" alt="Delete" />
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  
    <div class="pagination-controls" *ngIf="drivers.length > 0">
      <button (click)="previousPage()" [disabled]="page.first">Previous</button>
      <span>Page {{ page.number + 1 }} of {{ page.totalPages }}</span>
      <button (click)="nextPage()" [disabled]="page.last">Next</button>
    </div>
  </div>