<app-nav-bar></app-nav-bar>

<!-- <div class="login-container">
  <div class="login-form-container">
    <div class="login-form">
      <h1 class="login-title">Login</h1>
      <div class="login-input-container">
        <label class="login-label" for="email">Email</label>
        <input class="login-input" type="email" id="email" [(ngModel)]="username"/>
      </div>
      <div class="login-input-container">
        <label class="login-label" for="password">Password</label>
        <input class="login-input" type="password" id="password" [(ngModel)]="password"/>
      </div>
      <button type="submit" class="login-button" (click)="login()">Login</button>
    </div>
  </div>
</div>  -->

<div class="button-container theme-bg">
  <button class="theme-button" (click)="adminLogin()">Admin</button>
  <button class="theme-button" (click)="ownerLogin()">Owner</button>
  <button class="theme-button" (click)="driverLogin()">Driver</button>
</div>

<style>
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
  }

  .theme-button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
</style>
