<div class="login-container">
  <div class="login-form-container">
    <div class="login-form">
      <h1 class="login-title poppins-normal">Login</h1>
      <div class="login-input-container">
        <label class="login-label poppins-normal" for="email">Email</label>
        <!-- <input class="login-input poppins-normal" type="email" id="email" [(ngModel)]="username"/> -->
      </div>
      <div class="login-input-container">
        <label class="login-label poppins-normal" for="password">Password</label>
        <!-- <input class="login-input poppins-normal" type="password" id="password" [(ngModel)]="password"/> -->
      </div>
      <!-- <button type="submit" class="login-button poppins-normal" (click)="login()">Login</button> -->
    </div>
  </div>
</div>