<div class="list-jobs-container">
  <div class="main-header">
    <h2 class="main-heading">Today Jobs</h2>
  </div>
  
  <div class="job-list-container">
    <div class="job-list">
      <div class="job" *ngFor="let job of jobs">
        <div class="job-details">
          <div class="job-detail">
            <span class="job-detail-label">Customer: </span>
            <span class="job-detail-value">{{ job.customerName }}</span>
          </div>
          <div class="job-detail">
            <span class="job-detail-label">Duration: </span>
            <span class="job-detail-value">{{ job.totalTimeInSeconds | duration }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>