<div class="main-header">
  <h1 class="main-heading">Create Driver</h1>
</div>

<form [formGroup]="driverForm" (ngSubmit)="onSubmit()" class="create-driver-form">
  <div class="form-group">
    <label for="name" class="form-label">Driver Name <span class="required-asterisk">*</span></label>
    <input id="name" formControlName="name" type="text" class="form-control" placeholder="Enter driver's name">
  </div>

  <div class="form-group">
    <label for="phone" class="form-label">Phone Number <span class="required-asterisk">*</span></label>
    <input id="phone" formControlName="phoneNumber" type="tel" class="form-control" placeholder="Enter phone number">
  </div>

  <div class="form-group">
    <label for="email" class="form-label">Email <span class="required-asterisk">*</span></label>
    <input id="email" formControlName="email" type="email" class="form-control" placeholder="Enter Email">
  </div>

  <div class="form-group">
    <label for="password" class="form-label">Password <span class="required-asterisk">*</span></label>
    <input id="password" formControlName="password" type="text" class="form-control" placeholder="Enter Password">
  </div>

  <button type="submit" class="submit-button" [disabled]="driverForm.invalid">Create Driver</button>
</form>